@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

#widget {
	/* define using custom variables loaded from JS with fallback values */
	/* https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Values/var */

	--font-weight: var(--custom-font-weight, normal);
	--font-size: var(--custom-font-size, 14px);
	--message-color: var(--custom-message-color, white);
	--direction: var(--custom-direction, column);
	--justify: var(--custom-justify, end);
	--align: var(--custom-align, flex-start);
	--line-clamp: var(--custom-line-clamp, 4);
	--max-width: var(--custom-max-width, 500px);
	--badge-display: var(--custom-badge-display, inline);
	--pronoun-display: var(--custom-pronoun-display, inline);
	--pronoun-transform: var(--custom-pronoun-transform, lowercase);

	font-family:
		var(--custom-font-name), 'Inter', Nunito, Helvetica, Arial, sans-serif;

	font-weight: var(--font-weight);
	font-size: var(--font-size);
	color: var(--message-color);

	padding-left: 8px;
	padding-right: 8px;
	padding-top: 4px;
	padding-bottom: 4px;

	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;

	display: flex;
	flex-direction: var(--direction);
	justify-content: var(--justify);
	align-items: var(--align);
	gap: 8px;
}

#shadow-svg {
	position: absolute;
	inset: 0;
	height: 0;
	width: 0;
	opacity: 0;
}

.message {
	flex-shrink: 0;
	max-width: min(var(--max-width), 100%);
	padding: 4px;
	animation: none;

	/* all necessary for line clamp to work */
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: var(--line-clamp);
	line-clamp: var(--line-clamp);
}

.user {
	display: inline;
	color: var(--font-color);
	font-weight: bolder;
}

#widget.username-color-custom .user {
	color: var(--custom-username-color, var(--font-color));
}

#widget.username-color-twitch .user {
	color: var(--twitch-username-color, var(--font-color));
}

#widget.username-color-twitch-light .user {
	color: var(--twitch-light-username-color, var(--font-color));
}

#widget.username-color-twitch-dark .user {
	color: var(--twitch-dark-username-color, var(--font-color));
}

#widget.use-shadow {
	filter: url(#shadow-filter);
}

.name {
	display: inline;
	position: relative;
}

.user::after {
	content: ': ';
	display: inline;
}

.badges {
	display: var(--badge-display);
}

.badges:empty {
	display: none;
}

.badge {
	--badge-size: calc(1em + 4px);
	height: var(--badge-size);
	width: var(--badge-size);
	min-height: var(--badge-size);
	min-width: var(--badge-size);
	margin-right: 3px;
	display: inline;
	vertical-align: text-top;
}

.pronouns {
	display: var(--pronoun-display);
	text-transform: var(--pronoun-transform);
}

.pronouns:empty {
	display: none;
}

.content {
	display: inline;
	text-align: start;
}

.text,
.emote,
.cheer-amount {
	display: inline;
	white-space: pre-wrap;
	overflow-wrap: anywhere;
}

.cheer-amount {
	font-weight: bold;
	padding-left: 5px;
}

.emote {
	height: 2em;
	max-height: 112px;
	vertical-align: middle;
	margin-top: -0.25em;
	margin-bottom: -0.2em;
}

/**************
 * Animations *
 **************/

.animation-enter-fade .message {
	animation: fade-in 0.5s forwards;
}

.animation-enter-fade-left .message {
	animation:
		fade-in 0.5s forwards,
		move-in-left 0.5s forwards;
}

.animation-enter-fade-right .message {
	animation:
		fade-in 0.5s forwards,
		move-in-right 0.5s forwards;
}

.animation-exit-fade .message.exit {
	animation: fade-out 0.5s forwards;
}

.animation-exit-fade-left .message.exit {
	animation:
		fade-out 0.5s forwards,
		move-out-left 0.5s forwards;
}

.animation-exit-fade-right .message.exit {
	animation:
		fade-out 0.5s forwards,
		move-out-right 0.5s forwards;
}

.animation-exit-none .message.exit {
	display: none;
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fade-out {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
		display: none;
	}
}

@keyframes move-in-right {
	from {
		transform: translateX(100%);
	}
	to {
		transform: translateX(0);
	}
}

@keyframes move-out-right {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(100%);
	}
}

@keyframes move-in-left {
	from {
		transform: translateX(-100%);
	}
	to {
		transform: translateX(0);
	}
}

@keyframes move-out-left {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(-100%);
	}
}
