@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

#widget {
	/* define using custom variables loaded from JS with fallback values */
	/* https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Values/var */

	--font-weight: var(--custom-font-weight, normal);
	--font-size: var(--custom-font-size, 14px);
	--message-color: var(--custom-message-color, white);
	--line-clamp: var(--custom-line-clamp, 4);
	--max-width: var(--custom-max-width, 500px);
	--badge-display: var(--custom-badge-display, inline);
	--pronoun-display: var(--custom-pronoun-display, inline);
	--pronoun-transform: var(--custom-pronoun-transform, lowercase);
	--gap: var(--custom-gap, 8px);
	--multi-emote-size: var(--custom-multi-emote-size, 2);
	--single-emote-size: var(--custom-single-emote-size, 4);
	--bg-color: var(--custom-bg-color, transparent);
	--border-color: var(--custom-border-color, transparent);
	--border-width: var(--custom-border-width, 0px);
	--border-radius: var(--custom-border-radius, 0px);
	--p-horizontal: var(--custom-p-horizontal, 0px);
	--p-vertical: var(--custom-p-vertical, 0px);
	--badge-size: var(--custom-badge-size, 1.25);
	--username-font-weight: var(--custom-username-font-weight, bold);
	--username-font-size: var(--custom-username-font-size, 14px);

	font-family:
		var(--custom-font-name), 'Inter', Nunito, Helvetica, Arial, sans-serif;

	font-weight: var(--font-weight);
	font-size: var(--font-size);
	color: var(--message-color);

	padding-left: 8px;
	padding-right: 8px;
	padding-top: 4px;
	padding-bottom: 4px;

	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;

	display: flex;
	gap: var(--gap);

	/* default is the same values as #widget.arrangement_vertical.vertical_to-top.vertical_left */
	flex-direction: column;
	justify-content: end;
	align-items: flex-start;
}

#widget.arrangement_vertical.vertical_to-top {
	flex-direction: column;
	justify-content: end;
}
#widget.arrangement_vertical.vertical_to-bottom {
	flex-direction: column-reverse;
	justify-content: start;
}
#widget.arrangement_vertical.vertical_left {
	align-items: flex-start;
}
#widget.arrangement_vertical.vertical_right {
	align-items: flex-end;
}

#widget.arrangement_horizontal.horizontal_to-left {
	flex-direction: row;
	justify-content: end;
}
#widget.arrangement_horizontal.horizontal_to-right {
	flex-direction: row-reverse;
	justify-content: start;
}
#widget.arrangement_horizontal.horizontal_top {
	align-items: flex-start;
}
#widget.arrangement_horizontal.horizontal_bottom {
	align-items: flex-end;
}

#shadow-svg {
	position: absolute;
	inset: 0;
	height: 0;
	width: 0;
	opacity: 0;
}

.message {
	flex-shrink: 0;
	max-width: min(var(--max-width), 100%);
	opacity: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	padding: var(--p-vertical) var(--p-horizontal);
	border-radius: var(--border-radius);
	border: var(--border-width) solid var(--border-color);
	background-color: var(--bg-color);
	word-break: break-all;

	animation: none;
	animation-duration: 400ms;
	animation-fill-mode: forwards;
	--smooth: smooth-none;
}

.message.enter {
	opacity: 1;
	position: relative;
}

.use-shadow .message {
	filter: url(#shadow-filter);
}

.animation-smooth.arrangement_horizontal .message {
	--smooth: smooth-y, smooth-x;
}
.animation-smooth.arrangement_vertical .message {
	--smooth: smooth-y;
}

.animation-enter_none .message.enter {
	animation-name: none;
}

.animation-enter_fade-in .message.enter {
	animation-name: var(--smooth), fade-in;
}

.animation-enter_fade-in-left .message.enter {
	animation-name: var(--smooth), fade-in, move-from-left;
}

.animation-enter_fade-in-right .message.enter {
	animation-name: var(--smooth), fade-in, move-from-right;
}

.animation-enter_fade-in-up .message.enter {
	animation-name: var(--smooth), fade-in, move-from-bottom;
}

.animation-enter_fade-in-down .message.enter {
	animation-name: var(--smooth), fade-in, move-from-top;
}

.animation-enter_slide-in-left .message.enter {
	animation-name: var(--smooth), move-from-left;
}

.animation-enter_slide-in-right .message.enter {
	animation-name: var(--smooth), move-from-right;
}

.animation-enter_slide-in-up .message.enter {
	animation-name: var(--smooth), move-from-bottom;
}

.animation-enter_slide-in-down .message.enter {
	animation-name: var(--smooth), move-from-top;
}

.animation-exit_none .message.exit {
	animation-name: none;
	display: none;
}

.animation-exit_fade-out .message.exit {
	animation-name: var(--smooth), fade-out;
}

.animation-exit_fade-out-left .message.exit {
	animation-name: var(--smooth), fade-out, move-to-left;
}

.animation-exit_fade-out-right .message.exit {
	animation-name: var(--smooth), fade-out, move-to-right;
}

.animation-exit_fade-out-up .message.exit {
	animation-name: var(--smooth), fade-out, move-to-top;
}

.animation-exit_fade-out-down .message.exit {
	animation-name: var(--smooth), fade-out, move-to-bottom;
}

.animation-exit_slide-out-left .message.exit {
	animation-name: var(--smooth), move-to-left;
}

.animation-exit_slide-out-right .message.exit {
	animation-name: var(--smooth), move-to-right;
}

.animation-exit_slide-out-up .message.exit {
	animation-name: var(--smooth), move-to-top;
}

.animation-exit_slide-out-down .message.exit {
	animation-name: var(--smooth), move-to-bottom;
}

.message-clamp {
	/* necessary for emotes to not be clipped */
	padding-top: 0.25em;
	padding-bottom: 0.2em;

	/* all necessary for line clamp to work */
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: var(--line-clamp);
	line-clamp: var(--line-clamp);
}

.user {
	display: inline;
	color: var(--font-color);
	font-weight: bolder;
}

.customize-user .user {
	font-family:
		var(--custom-username-font-name), 'Inter', Nunito, Helvetica, Arial,
		sans-serif;
	font-size: var(--username-font-size);
	font-weight: var(--username-font-weight);
}

.username-color_custom .user {
	color: var(--custom-username-color, var(--font-color));
}

.username-color_twitch .user {
	color: var(--twitch-username-color, var(--font-color));
}

.username-color_twitch-light .user {
	color: var(--twitch-light-username-color, var(--font-color));
}

.username-color_twitch-dark .user {
	color: var(--twitch-dark-username-color, var(--font-color));
}

.name {
	display: inline;
	position: relative;
}

.user::after {
	content: ': ';
	display: inline;
}

.badges {
	display: var(--badge-display);
}

.badges:empty {
	display: none;
}

.badge {
	--size: calc(1em * var(--badge-size));
	height: var(--size);
	width: var(--size);
	min-height: min(var(--size), 72px);
	min-width: min(var(--size), 72px);
	margin-right: 3px;
	display: inline;
	vertical-align: text-top;
	max-height: 72px;
	max-width: 72px;
}

.pronouns {
	display: var(--pronoun-display);
	text-transform: var(--pronoun-transform);
}

.pronouns:empty {
	display: none;
}

.content {
	display: inline;
	text-align: start;
}

.text,
.emote,
.cheer-amount {
	display: inline;
	white-space: pre-wrap;
	overflow-wrap: anywhere;
}

.cheer-amount {
	font-weight: bold;
	padding-left: 5px;
}

.emote {
	height: 2em;
	max-height: 112px;
	vertical-align: middle;
	margin-top: -0.25em;
	margin-bottom: -0.2em;
}

#widget:not(.use-static-emotes) .emote.static {
	display: none !important;
}

#widget.use-static-emotes .emote.animated {
	display: none !important;
}

.use-dynamic-emote-sizing .emote-multi .emote {
	height: calc(2em * var(--multi-emote-size));
}

.use-dynamic-emote-sizing.arrangement_horizontal .emote-multi .emote {
	vertical-align: top;
}

.use-dynamic-emote-sizing .emote-single .emote,
.use-dynamic-emote-sizing .emote-gigantic .emote:nth-last-child(2),
.use-dynamic-emote-sizing .emote-gigantic .emote:last-child {
	height: calc(2em * var(--single-emote-size));
	display: block;
	margin: 0;
	margin-top: 0.25em;
}

/**************
 * Animations *
 **************/

/* fade in/out */

@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fade-out {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
		display: none;
	}
}

/* slide in */

@keyframes move-from-left {
	from {
		transform: translateX(-100%);
	}
}

@keyframes move-from-right {
	from {
		transform: translateX(100%);
	}
}

@keyframes move-from-top {
	from {
		transform: translateY(-200%);
	}
}

@keyframes move-from-bottom {
	from {
		transform: translateY(200%);
	}
}

/* slide out */

@keyframes move-to-left {
	to {
		transform: translateX(-100%);
		display: none;
	}
}

@keyframes move-to-right {
	to {
		transform: translateX(100%);
		display: none;
	}
}

@keyframes move-to-top {
	to {
		transform: translateY(-200%);
		display: none;
	}
}

@keyframes move-to-bottom {
	to {
		transform: translateY(200%);
		display: none;
	}
}

/* smooth max height/width */

@property --line-clamp {
	syntax: '<integer>';
	inherits: true;
	initial-value: 1;
}

/**
 * Starting max of 0.1px (or anything higher than 0) instead of 0 is IMPORTANT
 * Otherwise with some font settings, messages won't appear in OBS
 * Works fine in a regular browser though, just OBS where they don't render
 * I have no idea why this fixes it, or why 0 breaks it
 */

@keyframes smooth-y {
	from {
		--line-clamp: 1;
		max-height: 0.1px;
	}

	to {
		max-height: var(--max-message-height);
	}
}

@keyframes smooth-x {
	from {
		--line-clamp: 1;
		max-width: 0.1px;
	}

	50% {
		--line-clamp: 1;
		max-height: 1.5em;
	}

	to {
		max-width: min(var(--max-message-width), var(--max-width));
	}
}
