@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

#widget {
	--default-font-name: 'Inter';
	--default-font-size: 14px;
	--default-font-weight: normal;
	--default-font-color: black;
	--default-direction: column;
	--default-justify: end;
	--default-align: flex-start;
	--default-line-clamp: 4;
	--default-max-width: 500px;

	--font-weight: var(--custom-font-weight, var(--default-font-weight));
	--font-size: var(--custom-font-size, var(--default-font-size));
	--font-color: var(--custom-font-color, var(--default-font-color));
	--direction: var(--custom-direction, var(--default-direction));
	--justify: var(--custom-justify, var(--default-justify));
	--align: var(--custom-align, var(--default-align));
	--line-clamp: var(--custom-line-clamp, var(--default-line-clamp));
	--max-width: var(--custom-max-width, var(--default-max-width));

	font-family:
		var(--custom-font-name), var(--default-font-name), Nunito, Helvetica, Arial,
		sans-serif;
	font-weight: var(--font-weight);
	font-size: var(--font-size);
	color: var(--font-color);

	padding-left: 8px;
	padding-right: 8px;
	padding-top: 4px;
	padding-bottom: 4px;

	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;

	display: flex;
	flex-direction: var(--direction);
	justify-content: var(--justify);
	align-items: var(--align);
	gap: 8px;
}

#widget.align-top {
	flex-direction: column-reverse;
	justify-content: start;
}

#widget.align-bottom {
	flex-direction: column;
	justify-content: end;
}

#widget.align-left {
	align-items: flex-start;
}

#widget.align-right {
	align-items: flex-end;
}

.line-clamp .message {
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: var(--line-clamp);
	line-clamp: var(--line-clamp);
}

.message {
	flex-shrink: 0;
	max-width: var(--max-width);
	padding: 4px;
}

.user {
	display: inline-flex;
	align-items: flex-end;
	color: var(--font-color);
	font-weight: bolder;
}

#widget.username-color-custom .user {
	color: var(--custom-username-color, var(--font-color));
}

#widget.username-color-twitch .user {
	color: var(--twitch-username-color, var(--font-color));
}

#widget.username-color-twitch-light .user {
	color: var(--twitch-light-username-color, var(--font-color));
}

#widget.username-color-twitch-dark .user {
	color: var(--twitch-dark-username-color, var(--font-color));
}

.name {
	display: inline;
	position: relative;
}

.user::after {
	content: ': ';
	white-space: pre;
	display: inline;
}

.badges {
	display: inline-flex;
}

.badges:empty {
	display: none;
}

.badge {
	height: calc(1em + 4px);
	width: calc(1em + 4px);
	margin-right: 3px;
	display: inline;
	flex-shrink: 0;
}

.pronouns {
	display: inline;
	font-size: calc(1em - 2px);
	white-space: pre;
}

.pronouns:empty {
	display: none;
}

.text,
.emote,
.cheer-amount {
	display: inline;
	white-space: pre-wrap;
	overflow-wrap: anywhere;
}

.cheer-amount {
	font-weight: bold;
	padding-left: 5px;
}

.emote {
	height: 2em;
	max-height: 112px;
	vertical-align: middle;
	margin-top: -0.25em;
	margin-bottom: -0.2em;
}

.outline {
	filter: url(#outline);
}
