@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

#widget {
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#alert {
	position: absolute;
	inset: 20%;
	opacity: 0;
	display: none;

	&.enter {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	&.layout_below {
		flex-direction: column;
	}

	&.layout_above {
		flex-direction: column-reverse;
	}

	&.layout_right {
		flex-direction: row;
	}

	&.layout_left {
		flex-direction: row-reverse;
	}
}

#image {
	display: none;

	.visual_image & {
		display: block;
	}
}

#video {
	display: none;

	.visual_video & {
		display: block;
	}
}

#message {
	font-weight: var(--custom-font-weight, 700);
	font-family: var(--custom-font-name), Nunito, Arial, Helvetica, sans-serif;
	font-size: var(--custom-font-size, 32px);
	text-align: var(--custom-text-align, center);
	color: var(--custom-text-color, white);
	& .accent {
		color: var(--custom-accent-color, var(--custom-text-color), #bce760);
	}

	&:empty {
		display: none;
	}

	.use-shadow & {
		filter: url(#shadow-filter);
	}

	.layout_over & {
		position: absolute;
		inset: 0;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

#audio {
	display: none;
}
