@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Quicksand:wght@300..700&family=Radio+Canada:ital,wght@0,300..700;1,300..700&display=swap')
layer(base);

@import 'tailwindcss';

@config '../tailwind.config.js';

* {
	box-sizing: border-box;
}

:root {
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	@apply font-radio-canada;
}

body,
#root {
	position: absolute;
	inset: 0;
	display: flex;
}

button:focus {
	outline-offset: 4px;
}

@media (prefers-reduced-motion) {
	* {
		transition: none !important;
		animation-duration: 0s !important;
	}
}

/* "over" variant that adds styles for both :hover and :focus-visible */
@custom-variant over {
	@media (hover: hover) {
		&:hover {
			@slot;
		}
	}
	&:focus-visible {
		@slot;
	}
}

/* border radius values to create a slime shape */
@utility rounded-slime {
	border-top-left-radius: 100% 150%;
	border-top-right-radius: 100% 150%;
	border-bottom-left-radius: 100% 50%;
	border-bottom-right-radius: 100% 50%;
}

/* smooths images when object-fit: cover is used */
@utility smooth-image {
	overflow-clip-margin: unset;
}
