@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Quicksand:wght@300..700&family=Radio+Canada:ital,wght@0,300..700;1,300..700&display=swap')
layer(base);

@import 'tailwindcss';

@theme {
	--font-fredoka: 'Fredoka', sans-serif;
	--font-quicksand: 'Quicksand', sans-serif;
	--font-radio-canada: 'Radio Canada', sans-serif;
	--animate-bounce-in:
		fade 0.15s reverse forwards,
		expand 0.15s cubic-bezier(0.43, -0.5, 0.62, 1.5) forwards;
	--animate-intro: fade 0.25s reverse forwards, expand 0.5s forwards;
	--animate-page: fade reverse 0.15s fowards;
	--ease-bounce: cubic-bezier(0.43, -0.5, 0.62, 2);
	--radius-10\%: 10%;
	--radius-100\%: 100%;

	@keyframes fade {
		from {
			opacity: 1;
		}
		to {
			opacity: 0;
		}
	}
	@keyframes expand {
		from {
			transform: scale(0.5);
		}
		to: {
			transform: scale(1);
		}
	}
}

* {
	box-sizing: border-box;
}

:root {
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	@apply font-radio-canada;
}

body,
#root {
	position: absolute;
	inset: 0;
	display: flex;
}

button:focus-visible {
	outline-offset: 4px;
}

button:hover {
	cursor: pointer;
}

@media (prefers-reduced-motion) {
	* {
		transition: none !important;
		animation-duration: 0s !important;
	}
}

/* "over" variant that adds styles for both :hover and :focus-visible */
@custom-variant over {
	@media (hover: hover) {
		&:hover {
			@slot;
		}
	}
	&:focus-visible {
		@slot;
	}
}

/* "data-over" variant that adds styles for both [data-hover] and [data-focus] */
@custom-variant data-over {
	&[data-hover] {
		@slot;
	}
	&[data-focus] {
		@slot;
	}
}

/* border radius values to create a slime shape */
@utility rounded-slime {
	border-top-left-radius: 100% 150%;
	border-top-right-radius: 100% 150%;
	border-bottom-left-radius: 100% 50%;
	border-bottom-right-radius: 100% 50%;
}

/* smooths images when object-fit: cover is used */
@utility smooth-image {
	overflow-clip-margin: unset;
}

@utility bg-alpha-checkerboard {
	--square-size: 8px;
	--color-1: var(--color-stone-200);
	--color-2: white;
	background-position:
		0px 0px,
		var(--square-size) var(--square-size);
	background-size: calc(var(--square-size) * 2) calc(var(--square-size) * 2);
	background-image:
		linear-gradient(
			45deg,
			var(--color-2) 25%,
			transparent 25%,
			transparent 75%,
			var(--color-2) 75%,
			var(--color-2) 100%
		),
		linear-gradient(
			45deg,
			var(--color-2) 25%,
			var(--color-1) 25%,
			var(--color-1) 75%,
			var(--color-2) 75%,
			var(--color-2) 100%
		);
}

@utility input-wrapper {
	@apply rounded-2 flex w-full overflow-hidden border border-stone-300 bg-white px-2 py-1 text-left outline-offset-0! outline-black has-data-focus:outline-2 data-focus:outline-2;
}

@utility input-class {
	@apply font-quicksand outline-none placeholder:text-stone-400;
}

@utility input-label {
	@apply text-3 font-medium;
}

@utility input-select-option {
	@apply cursor-pointer rounded-full border border-stone-300 bg-stone-200 px-1.5 py-0.5 font-medium text-stone-500 outline-black data-checked:border-lime-700 data-checked:bg-lime-600 data-checked:text-white data-over:outline-2;
}

@utility mini-menu-item {
	@apply rounded-2 flex items-center gap-2 px-2 py-1 text-left outline-stone-400 data-focus:outline-2 data-over:bg-stone-200 data-over:font-medium;
}

@utility button-choose-file {
	@apply rounded-2 over:translate-y-0.5 over:from-stone-300 over:to-stone-200 over:shadow-none font-quicksand w-full border border-white bg-stone-400 bg-linear-to-b from-stone-200 to-stone-300 py-0.5 font-medium text-stone-700 shadow-[0_2px_0_1px] shadow-stone-400 outline outline-stone-400 focus-visible:outline-2 focus-visible:outline-offset-0! focus-visible:outline-black;
}

@utility rounded-* {
	border-radius: --spacing(--value(number));
}

@utility rounded-b-* {
	border-bottom-right-radius: --spacing(--value(number));
	border-bottom-left-radius: --spacing(--value(number));
}

@utility rounded-t-* {
	border-top-right-radius: --spacing(--value(number));
	border-top-left-radius: --spacing(--value(number));
}

@utility rounded-s-* {
	border-start-start-radius: --spacing(--value(number));
	border-end-start-radius: --spacing(--value(number));
}

@utility rounded-e-* {
	border-start-end-radius: --spacing(--value(number));
	border-end-end-radius: --spacing(--value(number));
}

@utility rounded-r-* {
	border-top-right-radius: --spacing(--value(number));
	border-bottom-right-radius: --spacing(--value(number));
}

@utility rounded-l-* {
	border-top-left-radius: --spacing(--value(number));
	border-bottom-left-radius: --spacing(--value(number));
}

@utility rounded-ss-* {
	border-start-start-radius: --spacing(--value(number));
}

@utility rounded-se-* {
	border-start-end-radius: --spacing(--value(number));
}

@utility rounded-ee-* {
	border-end-end-radius: --spacing(--value(number));
}

@utility rounded-es-* {
	border-end-start-radius: --spacing(--value(number));
}

@utility rounded-tl-* {
	border-top-left-radius: --spacing(--value(number));
}

@utility rounded-tr-* {
	border-top-right-radius: --spacing(--value(number));
}

@utility rounded-br-* {
	border-bottom-right-radius: --spacing(--value(number));
}

@utility rounded-bl-* {
	border-bottom-left-radius: --spacing(--value(number));
}

@utility text-* {
	font-size: --spacing(--value(number));
}
